[Unit]
Description=minegrub theme splash update service
After=hibernate.target

[Service]
ExecStart=/usr/bin/python3 /boot/grub/themes/minegrub/update_theme.py

[Install]
WantedBy=multi-user.target hibernate.target
