[Unit]
Description=Cycles splash image for the minegrub grub theme.

[Service]
ExecStart=/usr/bin/python3 /boot/grub2/themes/minegrub-theme/generate.py

[Install]
WantedBy=multi-user.target
